<section class="portfolio selector1" id="portfolio">
  <div class="portfolio__container _container">
    <h2>Портфолио</h2>
    <div class="swiper">
      <div class="swiper-wrapper"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="swiper-slide"><a href="https://narekcv.netlify.app/" target="_blank"><img src="img/website.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://amoss.netlify.app/" target="_blank"><img src="img/amoss1.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://honeyproect.netlify.app/" target="_blank"><img src="img/honey.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://foodlistproect.netlify.app/" target="_blank"><img src="img/foodList.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://eghoyanshin.am/" target="_blank"><img src="img/eghoyanshin.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://financeflowproect.netlify.app/" target="_blank"><img src="img/flow.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://compendiumproect.netlify.app/" target="_blank"><img src="img/compendium.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://escalaamazon.netlify.app/" target="_blank"><img src="img/escalaamazon.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://dexgroup.ru/" target="_blank"><img src="img/dexgroup.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://social-nm.netlify.app/" target="_blank"><img src="img/social.png" alt="image" /></a></div>
        <div class="swiper-slide"><a href="https://payxtoday.com/" target="_blank"><img src="img/pmtd.png" alt="image" /></a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="portfolio__slider-btns">
      <button><img class="prev" src="img/left.png" alt="image" /></button>
      <button><img class="next" src="img/right.png" alt="image" /></button>
    </div>
  </div>
</section>
