<section class="services selector2" id="services">
  <div class="services__container _container">
    <h2 class="title">Услуги</h2>
    <div class="services__items">
      <div class="services__items-item selector1" data-aos="flip-up">
  <h4>Верстка (GULP)</h4>
  <div class="opit">
    <span>Опыт работы: </span>
    <p>4 года</p>
  </div>
  <div class="services__items-content">
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бистрая работа</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Качественная верстка</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бесплатные правки</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Цена: 750 ₽/час</p>
    </div>
  </div>
  <a href="mailto:meliksetyan415@gmail.com">Заказать</a>
</div>

      <div class="services__items-item selector1" data-aos="flip-up">
  <h4>React,Next js</h4>
  <div class="opit">
    <span>Опыт работы: </span>
    <p>2 года</p>
  </div>
  <div class="services__items-content">
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бистрая работа</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Качественная код</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бесплатные правки</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Цена: 1500 ₽/час</p>
    </div>
  </div>
  <a href="mailto:meliksetyan415@gmail.com">Заказать</a>
</div>

      <div class="services__items-item selector1" data-aos="flip-up">
  <h4>Figma</h4>
  <div class="opit">
    <span>Опыт работы: </span>
    <p>1 года</p>
  </div>
  <div class="services__items-content">
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бистрая работа</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Удобный дизайн</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Бесплатные правки</p>
    </div>
    <div class="services_item-info">
      <img src="img/checked.png" alt="image" />
      <p>Цена: 500 ₽/час</p>
    </div>
  </div>
  <a href="mailto:meliksetyan415@gmail.com">Заказать</a>
</div>
 
    </div>
  </div>
</section>
