<section class="advantages selector2" id="advantages">
  <div class="advantages__container _container">
     <h2 class="title">Преимущества</h2>
     <div class="advantages__flex">
        <div class="advantages__item selector1" data-aos="zoom-in-right" data-aos-duration="1000">
            <img src="img/advantages1.png" alt="image">
            <span>Скоротсь работы</span>
            <p>Все заказы сдаются в срок</p>
         </div>
         <div class="advantages__item selector1"  data-aos="flip-left" data-aos-duration="1000">
            <img src="img/advantagesimg.png" alt="image">
            <span>Качественная работа</span>
            <p>Кроссбраузерный, валидный, чистый код</p>
         </div>
         <div class="advantages__item selector1" data-aos="zoom-in-left" data-aos-duration="1000">
            <img src="img/advantages.png" alt="image">
            <span>График работы</span>
            <p>Подстраиваюс под графиком клиента что бы всегда быть на связе</p>
         </div>     
     </div>
     </div>
    </div>
  </div>
</section>
