<section class="stakes selector1" id="stakes">
  <div class="stakes__container _container">
    <h2>Навыки</h2>
    <div class="stakes__wrapper">
      <div class="stakes__wrapper-content"  data-aos="fade-up-left">
        <div class="stakes__wrapper-content-items" data-item="0">
          <div class="icon">
            <img src="img/html.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>HTML</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="1">
          <div class="icon">
            <img src="img/css.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>CSS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="2">
          <div class="icon">
            <img src="img/js.png" alt="image" height="121px"/>
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>JS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="3">
          <div class="icon">
            <img src="img/html.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>PUG</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="4">
          <div class="icon">
            <img src="img/css.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>SCSS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="5">
          <div class="icon">
            <img src="img/css.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>LESS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="6">
          <div class="icon">
            <img src="img/css.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>SASS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="7">
          <div class="icon">
            <img src="img/jquery.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>JQuery</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="8">
          <div class="icon">
            <img src="img/react.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>React JS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="9">
          <div class="icon">
            <img src="img/next.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>Next JS</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="10">
          <div class="icon">
            <img src="img/gulp.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>Gulp</h4>
        </div>
        <div class="stakes__wrapper-content-items" data-item="11">
          <div class="icon">
            <img src="img/git.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>GitHub</h4>
        </div>
         <div class="stakes__wrapper-content-items" data-item="11">
          <div class="icon">
            <img src="img/figma.png" alt="image" />
          </div>
          <div class="stage" data-stage="100">
            <span class="setcolor1"></span>
            <div class="stageline">
              <div class="stagelineconfirm"></div>
            </div>
          </div>
          <h4>Figma</h4>
        </div>
      </div>
    </div>
    <div class="stakes__btns">
      <button><img class="prev" src="img/left.png" alt="image" /></button>
      <button><img class="next" src="img/right.png" alt="image" /></button>
    </div>
  </div>
</section>
