<section class="main" id="main">
  <div class="main__container">
    <h1>Frontend developer</h1>
    <p>
      Приветствую вас! Я- Нарек. Являюсь Frontend разработчиком, опыт работы более 4-х лет. Качественно выполню работу, затратив малое
      количество времени.
    </p>
    <div class="main__content selector1">
      <a href="https://narekcv.netlify.app/" data-aos="zoom-out-right" data-aos-duration="1000"><img src="img/website.png" alt="image" /></a>
      <a href="/" data-aos="fade-down" data-aos-duration="1000"><img src="img/honey.png" alt="image" /></a>
      <a href="/" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000"><img src="img/amoss1.png" alt="image" /></a>
      <a href="/" data-aos="zoom-out-left" data-aos-duration="1000"><img src="img/honey.png" alt="image" /></a>
    </div>
  </div>
</section>
